In [ ]:
import pandas as pd
import numpy as np

Dataset for questions 1-3 may be loaded from this [link](https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv).

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv") # Type your code here

Q1. How many records are there where the state name starts with 'W'?

In [ ]:
def q1():
    # Type your code here
    return dataset["State"].str.startswith("W").sum() # Type your code here

q1()

327

Q2. What is the percentage of voice mail plan for churn=0 users?

In [ ]:
def q2():
  # Type your code here
  return dataset[dataset["Voice mail plan"] == "Yes"][dataset["Churn"] == False].shape[0]/dataset[dataset["Voice mail plan"] == "Yes"].shape[0]*100 
  # Type your code here

q2()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

91.3232104121475

Q3. How many customers made day calls below average for whom day charge was above average?

In [ ]:
def q3():
  # Type your code here
  num = (dataset["Total day calls"] < dataset["Total day calls"].mean()) & (dataset["Total day charge"] > dataset["Total day charge"].mean())
  return dataset.loc[num].shape[0] 
  # Type your code here

q3()

811



---

In [ ]:
# Dataset for questions 4-7
data = {'Refinery Location':['Baytown','Baton Rouge','Texas City','Lake Charles','Whiting','Beaumont','Philadelphia','Pascagoula','Deer Park','Wood River','Port Arthur'],
        'Company':['Texas ExxonMobil','Louisiana ExxonMobil','Texas BP','Louisiana Citgo','Indiana BP','Texas ExxonMobil','Pennsylvania Sunoco','Mississippi Chevron','Texas partnership','Illinois WRB','Texas Premcor'],
        'Capacity':['567,000','503,000','467,720','429,500','410,000','348,500','335,000','330,000','329,800','306,000','289,000']}

Load the dictionary `data` created in the above block into a Pandas DataFrame named `df`.

In [ ]:
df = pd.DataFrame(data) # Type your code here

Q4. What is the IQR for the 'Capacity' attribute?

In [ ]:
df["Capacity"] = df["Capacity"].astype(str).str.replace(',', '')
df["Capacity"] = pd.to_numeric(df["Capacity"], errors = "coerce")

In [ ]:
def q4():
  # Type your code here

  Q1 = df.quantile(0.25)
  Q3 = df.quantile(0.75)
  IQR = Q3 - Q1
  return IQR # Type your code here

q4()

Capacity    118710.0
dtype: float64

Q5. Compute the skewness and kurtosis of the 'Capacity' attribute, rounded off two two decimal places.

In [ ]:
def q5():
  # Type your code here
  skewness_value = round(df['Capacity'].skew(), 2)
  kurtosis_value = round(df['Capacity'].kurt(), 2)
  return (skewness_value, kurtosis_value)

q5()

(0.78, -0.48)



---

Import necessary libraries for Regression questions 6-8. Dataset can be loaded form [here](https://raw.githubusercontent.com/dayanandv/Data-Science/main/dataset/dataset1.csv).

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from math import sqrt

In [ ]:
df1 = pd.read_csv("https://raw.githubusercontent.com/dayanandv/Data-Science/main/dataset/dataset1.csv", encoding = "utf16")

Load data into DataFrame, split into X and Y, split DataFrame further into train (2/3rd) and test (1/3rd).

In [ ]:
X = df1["X"].values.reshape(-1, 1)
Y = df1["Y"].values.reshape(-1, 1)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 42)

Q6. Build a Linear Regression model by hand and calculate the coeffcients b1 and b0 for the model.

In [ ]:
def q6(): 
  # Mean X and Y
  mean_x = np.mean(X)
  mean_y = np.mean(Y)

  # Total number of values
  n = len(X)

  # Using the formula to calculate b1 and b2
  numer = 0
  denom = 0
  for i in range(n):
      numer += (X[i]-mean_x) * (Y[i]-mean_y)
      denom += (X[i]-mean_x) ** 2
  b1 = numer / denom
  b0 = mean_y - (b1*mean_x)
  y_pred = b0 + b1 * X[i]
  rmse_s = (Y[i]-y_pred) ** 2
  for i in range(n):
      y_pred = b0 + b1 * X[i]
      rmse_s += (Y[i]-y_pred) ** 2
  rmse_s = np.sqrt(rmse_s/n)
  print(rmse_s)
  
  # Return coefficients
  return b1[0], b0[0]

q6()

[36.60557085]

(1.8194996275037996, 12.508563136839996)

Q7. Build a Linear Regression model using sklearn and compute the absolute difference in RMSE of the predictions on the X_test data when you compare it to the model built in Q6.

In [ ]:
def q7():

  # Type your code here 
  LR = LinearRegression()
  # fitting the training data
  LR.fit(X_train,Y_train)
  Y_prediction =  LR.predict(X_test)

  # Calculating RMSE and R2 Score
  mse = mean_squared_error(Y_test, Y_prediction)
  rmse = np.sqrt(mse)
  rmse = abs(rmse)
  difference_in_rmse = rmse_s - rmse
  print(rmse)

  return difference_in_rmse[0]

q7()